


body {
    background-image: url("../pwQ4lPy.jpg");
    background-size: 100%;
    font-family: Arial, sans-serif;
    font-size: 100%;
    /*text-align: center;*/
}


#remaining {
    background-color: floralwhite;
    border: none;
    color: darkslategray;
    padding: 0.5em 0.75em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
    border-style: solid;
    border-width: thin;
    border-radius: 0.5em;

}

.button {
    background-color: floralwhite;
    border: none;
    color: darkslategray;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
    border-style: solid;
    border-width: thin;
    border-radius: 0.5em;
}



#contentBox {
    color: darkslategray;
    background-color: floralwhite;
    margin-top: 0.5em;
    padding-bottom: 2%;
    padding-top: 0.5em;
    width: 55em;
    margin-bottom: 0; 
    margin-left: auto;
    margin-right: auto;
}

#contentBoxHowTo {
    text-align: left;
    color: darkslategray;
    background-color: floralwhite;
    margin-top: 0.5em;
    padding-bottom: 11em;
    padding-top: 0.5em;
    width: 55em;
    margin-left: auto;
    margin-right: auto;
    
}

#play {
    background-color: darkslategray;
    border: none;
    margin-left: 10em;
    color: floralwhite;
    padding: 0.5em;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-width: thin;
}

#playImage {
    text-align: left;
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 7em;
    
   
}


#howToPlayText {
    margin-top: 3em;
}

#howToList {
    margin-top: 10%;
    width: 40em;
    margin-left: 5%;
    /*padding-left: -10%;
    padding-right: 1em;*/
    margin-top: 1em;
    font-size: 90%;
    line-height: 1.5em;
}

.player1Buttons button:disabled,
.player2Buttons button:disabled {
    background-color: floralwhite;
}

.player1Buttons button:disabled:hover,
.player2Buttons button:disabled:hover {
    background-color:floralwhite;
}

.player1Buttons button {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    margin-top: 6em;
    background-color: #FF4600;/*#006682;*/
    font-size: 2em;
    border-style: solid;
    border-width: thin;
    border-color: darkslategray;
    color: floralwhite; 
    padding: 1em 1.75em; 
    cursor: pointer; 
    display: inline-block;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.player1Buttons button:not(:last.child) {
    border-right:none;
}

.player1Buttons:after {
    content: "";
    clear: both;
    display: table;
}

.player1Buttons button:hover {
    background-color: #003766;

}

.player2Buttons button {
    margin-top: 2em;
    background-color: #FF4600;/*#006682;*/
    font-size: 2em;
    border-style: solid;
    border-width: thin;
    border-color: darkslategray;
    color: floralwhite; 
    padding: 1em 1.75em; 
    cursor: pointer; 
    display: inline-block;
    border-radius: 0.5em;
}

.player2Buttons button:not(:last.child) {
    border-right:none;
}

.player2Buttons:after {
    content: "";
    clear: both;
    display: table;
}

.player2Buttons button:hover {
    background-color: #003766;

}



h1 {
    margin-left: 1.5em;
    font-size: 2.5em
}



.banner {
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: floralwhite;
    position: fixed;
    color: darkslategray;
    border-top: 0.01em;
    border-left: 0.01em;
    border-right: 0.01em;
    border-style: solid;
    border-color: darkslategray;
}

#indexBanner {

    margin-left: auto;
    margin-right: auto;
    width: 55em;
    margin-top: 10%;
    background-color: lightgray;
    /*position: fixed;*/
    color: darkslategray;
    border-top: 0.01em;
    border-left: 0.01em;
    border-right: 0.01em;
    border-style: solid;
    border-color: darkslategray;
    
}

#contentHeadline {
    margin-left: 2.5em;
    margin-top: 1em;
    padding-bottom: 0;
}

#contentHeadline:after{
    content: "";
    display: block;
    margin-left: 0;
    width: 50%;
    padding-top: 0.25em;
    border-bottom: 0.1em solid darkslategray;
}

hr {
    padding-top: -100%;
    display: block;
    overflow: hidden;
    border-style: solid;
    border-width: 1em; 
}

.mainList { 
    text-align: left;
    width: 30em;
    margin-left: 5%;
    /*padding-left: -10%;
    padding-right: 1em;*/
    margin-top: 1em;
    font-size: 90%;
    line-height: 1.5em;
    
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: floralwhite;
    color: darkslategray;
    text-align: center;
    border-bottom: 0.01em;
    border-left: 0.01em;
    border-right: 0.01em;
    border-style: solid;
    border-color: darkslategray;
}

li {
    margin: 0.5em;
}


h3 a {
    text-align: center;
    width: 10%;
    color: #000;
    padding: 0.1%;
    text-decoration: none;
    display: inline-block;
}


#sideBySide1 {
    float:left;
    display:block;
    padding-left: 40%;
    
}

#sideBySide2 {
    display: block;
    float: right;
    margin-top: -1.9%;
    padding-right: 40%;
}


#startGame{
    background-color: #00CC3C;
    border: none;
    color: darkslategray;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin-top: -5%;
    cursor: pointer;
    border-style: solid;
    border-width: thin;
    border-radius: 0.5em;
}


.playerNames {
    color: floralwhite;
    margin-top: 2.5em;
   

}

