body {
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  height: auto;
  max-width: 100%;
  max-height: auto;
  border-spacing: 0px;
  margin : 0 auto;

  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Arial, sans-serif;
  font-size: 100%;
}




/* ----------------- header ----------------- header ----------------- */
.header {
  overflow: hidden;
  width: 100%;
  padding: 0.2em 0.5em;
  background-color: white;
  opacity: 0.6;
  color: black;
  font-size: 3em;

}

.header h1{
  display: block;
  float: left;
  padding: 0.1em;
  margin: auto;
  text-decoration: none;
  font-size: 1em;
}

.header #play{
  top: 0;
  padding: 1em;
  opacity: 0.6;
  color: black;
  text-decoration: none;
}

.header #play:hover{
  /*background-color: grey;*/
  opacity: 0.2;
  color: black;
}




/* ----------------- index ----------------- index ----------------- */
@media screen and (max-width: 600px) {
  .rules ul{
    list-style: none;
    padding: 0;
  }
  li::before {
    content: "";
    padding-left: 0;
  }

}


@media screen and (min-width: 600px){
/*row, column height bredde*/

  #contentHeadline {
    grid-area: 1 / 1 / 1 /1;
  }
  #contentBoxHowTo {
    grid-area: 2 / 1 / 1 /1;
  }
  #imageN {
    overflow: visible;
    grid-area: 1 / 2 / 1/ 2;
    grid-row-end: span 2;
    width: 100%;

  }
  .rules {
    display: grid;
    grid-template-columns: 48% 48%;
    align-self: center;
    grid-gap: 2em;
    padding: 1em;

    /*align-items: start;*/
    /*justify-content: space-evenly;*/
  }
}
.rules{
  margin-left: 2em;
  margin-right:2em;
}
.rules h2{
  font-size: 1em;
}
.rules ul{
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  border-radius: 1em;
  margin-top:1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;

}

#contentBox,
#contentBoxHowTo{
  display: block;
  max-width: 100%;
  padding: 1em 2em;
  border: thin;
  border-radius: 1em;
  margin-top:1em;
  margin-bottom:auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  opacity: 0.5;
}


/* ----------------- nim ----------------- nim ----------------- */
.game {
  text-align: center;
  align-items: center;
}

#promptOverlay {
  display: block;
  overflow: auto;
  max-height: 18em;
  max-width: 30em;
  border-radius: 1em;
  border-style: dashed;
  border-width: thin;
  padding-bottom: 2em;
  padding-left: auto;
  padding-right: auto;
  margin: auto;
}

#yourTurn {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  color: black;
  font-size: 2em;
}

#remaining {
  display: inline-block;
  max-width:100%;
  max-height:100%;
  border: none;
  padding: 0.5em 0.75em;
  border-style: transparent;
  margin: 0;
  background-image: url("marble3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2em 2em;
  color: darkslategray;
  font-size: 3em;
  font-weight: bold;
}

#promptBox ul{
  list-style: none;
  padding: 0;
}

#promptBox::before {
  content: "";
  padding-left: 0;
}

#alertOverlay {
  display: none;
  background-image: url("alertBackground.jpg");
  overflow: auto;
  max-height: 15em;
  max-width: 25em;
  border-radius: 1em;
  border-style: solid;
  border-width: thin;
  padding-bottom: 2em;
  padding-left: auto;
  padding-right: auto;
  margin: auto;
  /*display: none;
  opacity: 0.85;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #FFF;
  width: 100%;
  z-index: 10;*/
}

#alertBox {
  display: none;
  position: fixed;
  color: lightcyan;
  font-size: 1em;
  text-align: center;
  margin: auto;
  margin-top: 15.2em;
  width: 15em;
  z-index: 10;
  /*background-image: url("alertBackground.jpg");*/
}

#alertBox ul{
  list-style: none;
  padding: 0;
}

#alertBox::before {
  content: "";
  padding-left: 0;
}

/*#alertBox > ul > #alertBoxBody {
  padding: 2em;

}*/

/* ----------------- buttons ----------------- buttons ----------------- */
@media screen and (max-width: 600px) {
  .player2Buttons{
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    border-radius: 0.1px;
    padding: 0.1px;
    margin-top: 1px;
    cursor: pointer;
    font-size: 0.75em;
  }

  .player1Buttons{
    border-radius: 0.1px;
    padding: 0.1px;
    margin-top: 1px;
    cursor: pointer;
    font-size: 0.75em;
  }
  #remaining {
    display: inline-block;
    font-size: 2em;

  }
}

@media screen and (max-width: 400px) {
  .player1Buttons,
  .player2Buttons{
    font-size: 0.5em;
  }
  #remaining {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 600px) {

  .game{
    display: grid;
    width: 100%;
    align-self: center;
    grid-template-columns: 30% auto 30% ;
    grid-template-rows: 25% 25% 25% 25%;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding: auto;
    border: auto;
  }

  .player1Buttons {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 4;
    padding-left: 2em;
    display: flex;
    flex-flow: column;
  }

  .player2Buttons  {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 4;
    padding-right: 2em;
    display: flex;
    flex-flow: column;
  }

  .midten{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-row-end: span 3;
  }

  .namemarbles{
    font-weight: bold;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-row-end: span 2;
  }
  .promptOverlay{
    margin-top: 
  }

}

@media screen and (max-width: 600px){
  #radios{
    padding-left: 4em;
    padding-right: 4em;
  }
}
#radios input{
  margin:0;
  padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

#radioTwo{
  background-image: url("2marble.png");
}
#radioThree{
  background-image: url("3marble.png");
}
#radioFour{
  background-image: url("4marble.png");
}
#radioTwo,
#radioThree,
#radioFour{
  float: right;
  /*padding: 1em;*/
  background-size:contain;
  height: 50px;
  width: 50px;
  text-align: center;
  align-self: center;
  border-style: none;
  border-width: none;
  margin: auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;

  -webkit-filter: grayscale(2) opacity(.7);
  -moz-filter: grayscale(2) opacity(.7);
  filter: grayscale(2) opacity(.7);
}

#radios{
  cursor:pointer;
  background-size:contain;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: row nowrap;
  justify-content:center;
  align-items: center;
  width: auto;
  height:auto;
  padding-top: 0.5em;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

#startGame:hover,
#radioTwo:hover,
#radioThree:hover,
#radioFour:hover{
  -webkit-filter: opacity(0.3);
  -moz-filter: opacity(0.3);
  filter: opacity(0.3);
}

#radios input:checked{
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

#startGame {
  background-image: url("startmarbles.png");
  display: inline-block;

  padding: 1em 2.2em;
  text-align: center;
  border-style: none;
  border-width: none;
  margin: auto;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  font-size: 0.75em;
  font-weight: bold;
  cursor: pointer;
}

#player1Button1,
#player2Button1{
  background-image: url("marble2.png");
}
#player1Button2,
#player2Button2{
  background-image: url("2marble.png");
}
#player1Button3,
#player2Button3{
  background-image: url("3marble.png");
}
#player1Button4,
#player2Button4{
  background-image: url("4marble.png");
}

.player1Buttons button,
.player2Buttons button {
  display: inline-block;
  height: 4em;
  width: 4em;
  padding: 1em 1.5em;
  border-style: none;
  border-width: none;
  margin: auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.player1Buttons button:disabled,
.player2Buttons button:disabled {
  opacity: 0.3;
}

.player1Buttons button:disabled:hover,
.player2Buttons button:disabled:hover {
  opacity: 0.1;
}

.player2Buttons button:not(:last.child),
.player1Buttons button:not(:last.child) {
  border-right:none;
}

.player1Buttons:after,
.player2Buttons:after {
  content: "";
  clear: both;
  display: table;
}

.player1Buttons button:hover,
.player2Buttons button:hover {
  opacity: 0.3;
}




/* ----------------- footer ----------------- footer ----------------- */

.footer {
  bottom: 0;
  position: fixed;
  overflow: hidden;
  /*height: 2em;*/
  width: 100%;
  padding: 0.1em 0.1em;
  margin: auto;
  color: darkslategray;
  background-color: white;
  opacity: 0.6;
  text-decoration: none;
}

.footer ul{
  list-style-type: none;
  padding: 0.1em;
  margin: 0;
}

.footer li {
  float: left;
  border:1px ;
}

.footer li a{
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.footer li a:hover {
  background-color: grey;
  opacity: 0.9;
  color: black;
}
